---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Sobre mim">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Sobre mim</div>
  </div>

  <div class="mb-10 text-justify">
    <p>
      Sou Maria Vitória, ou simplesmente Vih. Como desenvolvedora apaixonada por
      tecnologia, tenho uma missão: transformar desafios em soluções inovadoras.
      Desde 2020, mergulho nesse universo em constante evolução, sempre buscando
      expandir meu conhecimento e habilidades. Minha paixão pela tecnologia da
      informação me impulsiona a superar obstáculos e encontrar as melhores
      soluções para os problemas. Se você busca uma mente criativa e determinada
      para impulsionar seus projetos, estou aqui para ajudar. Vamos transformar
      suas necessidades em oportunidades de sucesso juntos!
    </p>
    <br />
    <p>Além disso, amo cozinhar e ouvir música.</p>
    <br />
    <p>
      Uso esse site para compartilhar projetos, interesses, estudos, dicas e
      entre outros tópicos da área de tecnologia.
    </p>
    <br />
    <p>Amo bater um papo sobre projetos e oportunidades!</p>
    <p>
      Sinta-se à vontade para entrar em contato e conecta-se por meio das minhas
      redes sociais:
    </p>

    <div class="social-icons px-4 my-2 flex self-center">
      <a
        href="https://github.com/mariavitoriamachado"
        target="_blank"
        class="mx-3"
        aria-label="Github"
        title="Github">Github</a
      > •
      <a
        href="https://www.linkedin.com/in/thismaria/"
        target="_blank"
        class="mx-3"
        aria-label="Linkedin"
        title="Linkedin">Linkedin</a
      > •
      <a
        href="mailtodevmariavitoria@gmail.com"
        target="_blank"
        class="mx-3"
        aria-label="E-mail"
        title="E-mail">Email</a
      >
    </div>
  </div>
</BaseLayout>
