---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Sobre mim</div>
  </div>

  <div class="mb-10 text-justify">
    <p>Meu nome é Maria Vitória, também conhecida como Vi, desenvolvedora e entusiasta de tecnologia. Iniciei minha jornada nessa área no ano de 2020. Sempre busco aprender novas habilidades e expandir meu conhecimento, especialmente no campo da tecnologia da informação.</p>
    <br>
  <p>Além disso,  amo cozinhar, praticar exercícios  e ouvir música.</p>
    <br>
  <p>Uso esse site para compartilhar projetos, interesses, estudos, dicas e entre outros tópicos da área de tecnologia.</p>
  <br>
    <p>Amo bater um papo sobre projetos e oportunidades!</p>
    <p>Sinta-se à vontade para entrar em contato e conecta-se por meio das minhas redes sociais:</p>

    <div class="social-icons px-4 my-2 flex self-center">
      <a href="https://github.com/mariavitoriasilva" target="_blank" class="mx-3" aria-label="Github" title="Github">Github</a> •
      <a href="https://www.linkedin.com/in/mariavitoriasilvas/" target="_blank" class="mx-3" aria-label="Linkedin" title="Linkedin">Linkedin</a> •
      <a href="mailto:mariavitoriasilvast@gmail.com" target="_blank" class="mx-3" aria-label="E-mail" title="E-mail">Email</a>
      
    </div>
  </div>

    




  </BaseLayout>