---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Sobre mim</div>
  </div>

  <div class="mb-10 text-justify">
    Sou uma desenvolvedora apaixonada por tecnologia e programação. Comecei a estudar por conta própria e pelo celular, o que me permitiu adquirir habilidades autodidatas e perseverança. Desde então, venho aprimorando meus conhecimentos em desenvolvimento web e me especializando em JavaScript, Nodejs, Reactjs e Typescript.

    Recentemente, atuei como desenvolvedora Front-End na CVC Corp em um estágio que me proporcionou experiência prática de trabalhar em projetos web de grande escalabilidade utilizando tecnologías modernas, como HTML5, CSS3, JavaScript, Reactjs, styled-components, Git, jenkins e metodologias ágeis (Scrum e Kanban). Durante esse período, desenvolvi habilidades complementares, como organização, comunicação e colaboração em equipe, troca de informações e escrita de código limpo, visando facilitar a manutenção e a escalabilidade dos projetos.

    Como desenvolvedora, estou sempre em busca de novos desafios e aprendizados, e acredito que minha experiência prática e habilidades técnicas me permitem contribuir para o desenvolvimento de projetos web de alta qualidade. 
 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Developer Front End"
      subtitle=" Conteflex (mar de 2023 - atualmente)"
      desc=" Estagiária em Desenvolvimento Front End na Conteflex e suporte técnico nível 1"
    />
    <TimeLineElement
      title="Developer Front End"
      subtitle="CVC corp (out de 2021 - jan de 2023 · 1 ano 4 meses)"
      desc="Estagiária em Desenvolvimento Front End na CVC, com atividades que incluíam: - Desenvolvimento de features e correções de bugs em produção para o site web e logística da CVC. - Experiência com documentação de projetos. - Realização de testes de fluxo e teste regressão na área de análise de qualidade."
    />
    <TimeLineElement
      title="Monitora da disciplina Programação Estruturada"
      subtitle="Curso de Sistema de Informação - Faculdade UniFTC( Duração de um semestre - 2022)"
      desc="Monitora da disciplina de Programação Estruturada, auxiliando os alunos com dúvidas e questõesrelacionadas aostópicos abordados nas aulas."
    />
  </div>

  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formação acadêmica</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Sistemas de Informação"
      subtitle="UniFTC"
      desc="2020 - 2023(Cursando)"
    />
    </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Licenças e certificados</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://cursos.alura.com.br/degree/certificate/5432828f-3a4b-468a-9b57-e3e6b02a3796" target="_blank">Formação Front-End - Alura</a>
    </li>
    <li>
      <a href="https://cursos.alura.com.br/certificate/2786488e-6e80-40c0-986c-54fd13114443" target="_blank">React: escrevendo com Typescript - Alura</a>
    </li>
    <li>
      <a href="https://cursos.alura.com.br/certificate/0cfe6289-573d-456d-98e6-a5b6c47fd4f8" target="_blank">TypeScript parte 1: evoluindo seu JavaScript - Alura</a>
    </li>
    <li>
      <a href="https://www.udemy.com/certificate/UC-29f931cd-9f09-44ad-80d9-c484e088fe78/" target="_blank">SOLID - Os 5 Princípios Para as Boas Práticas da POO</a>
    </li>
    <li>
      <a href="/public/dowhile.pdf" target="_blank">DoWhile - Rocketseat</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>Styled-components</li>
    <li>JavaScript</li>
    <li>Reactjs</li>
    <li>Teste Unitários</li>
    <li>Typescript</li>
    <li>Java</li>
    <li>SEO</li>
    <li>MongoDB</li>
    <li>SQL</li>
    <li>Node.js</li>
    <li>Vue</li>
    <li>Vuetify</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Scrum</li>
    <li>Kanban</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"></div>
  </div>
  <div class="mb-5">
    <a class="text-3xl w-full font-bold cv-link" href="/cvmariavitoria.pdf" target="_blank">Download do CV</a>
  </div>

</BaseLayout>
