---
import BaseLayout from '../layouts/BaseLayout.astro';
import TimeLineElement from '../components/cv/TimeLine.astro';
---

<BaseLayout title="CV">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Sobre mim</div>
  </div>

  <div class="mb-10 text-justify">
    Sou uma desenvolvedora apaixonada por tecnologia e programação, sempre em
    busca de aprendizado constante. Tenho experiência em JavaScript, Node.js,
    React.js e TypeScript. Atuei como desenvolvedora Front-End na CVC Corp, onde
    trabalhei em projetos web escaláveis utilizando tecnologias modernas e
    metodologias ágeis como Scrum e Kanban. Além das habilidades técnicas,
    desenvolvi competências em comunicação, colaboração em equipe e escrita de
    código limpo. Estou sempre em constante busca por desafios e oportunidades
    de aprendizado para contribuir com o desenvolvimento de projetos web de alta
    qualidade.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Estágio em TI"
      subtitle="Conteflex (Março de 2023 - Março de 2024), Feira de Santana-BA "
      desc={`Atividades: Desenvolvimento Front-End e Suporte Técnico. Habilidades: JavaScript, CSS3, jQuery, PHP, SQL, Levantamento de Requisitos, Regra de Negócio, Suporte Técnico de Sistemas e Equipamentos de TI.`}
    />
    <TimeLineElement
      title="Developer Front End Intern"
      subtitle="CVC Corp (Outubro de 2021 - Janeiro de 2023), Remoto"
      desc={`Atividades: Desenvolvimento de features e correções de bugs. Habilidades: HTML5, CSS3, JavaScript, Reactjs, Figma, Styled-components, Git, Jenkins, Scrum, Kanban, Typescript,  Documentação de projetos e Regra de Negócio.
        `}
    />
    <TimeLineElement
      title="Monitora da disciplina Programação Estruturada"
      subtitle="Curso de Sistema de Informação - Faculdade UniFTC(Agosto de 2022 - Dezembro de 2022), Remoto"
      desc={`Monitora da disciplina de Programação Estruturada do curso de SI, onde auxiliei os alunos com dúvidas relacionadas aos tópicos abordados nas aulas.`}
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formação acadêmica</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bacharelado em Sistemas de Informação"
      subtitle="Centro Universitário UniFTC"
      desc="2020 - 2024(Em andamento)"
    />
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Licenças e certificados</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.rocketseat.com.br/formacao/react"
        >Formação em ReactJs - Rocketseat | Nível: Intermediário (em andamento)</a
      >
    </li>
    <li>
      <a href="https://curso.dev/"
        >Curso de Programação - Filipe Deschamps | Nível: Intermediário (em
        andamento)</a
      >
    </li>
    <li>
      <a
        href="https://cursos.alura.com.br/degree/certificate/5432828f-3a4b-468a-9b57-e3e6b02a3796"
        target="_blank">Formação Front-End - Alura</a
      >
    </li>
    <li>
      <a
        href="https://cursos.alura.com.br/certificate/2786488e-6e80-40c0-986c-54fd13114443"
        target="_blank">React: escrevendo com Typescript - Alura</a
      >
    </li>
    <li>
      <a
        href="https://cursos.alura.com.br/certificate/0cfe6289-573d-456d-98e6-a5b6c47fd4f8"
        target="_blank">TypeScript parte 1: evoluindo seu JavaScript - Alura</a
      >
    </li>
    <li>
      <a
        href="https://www.udemy.com/certificate/UC-29f931cd-9f09-44ad-80d9-c484e088fe78/"
        target="_blank">SOLID - Os 5 Princípios Para as Boas Práticas da POO</a
      >
    </li>
    <li>
      <a href="/public/dowhile.pdf" target="_blank">DoWhile - Rocketseat</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades Técnicas</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>Styled-components</li>
    <li>Material UI</li>
    <li>Figma</li>
    <li>JavaScript</li>
    <li>Reactjs</li>
    <li>Typescript</li>
    <li>Java</li>
    <li>SEO</li>
    <li>MongoDB</li>
    <li>SQL</li>
    <li>Node.js</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Scrum</li>
    <li>Kanban</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"></div>
  </div>
  <div class="mb-5">
    <a
      class="text-3xl w-full font-bold cv-link"
      href="/cvmariavitoria.pdf"
      target="_blank">Download do CV</a
    >
  </div>
</BaseLayout>
