---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2"><i>Entusiasta das melhores tecnologias de desenvolvimento web.</i></div>
  <div class="pb-2">
    &copy; {today.getFullYear()} Maria Vitória
  </div>
</footer>
<style>

</style>
